<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.title">Roles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-role" [routerLink]="['/role/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="talentactorApp.role.home.createLabel">
            Create new Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="roles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th jhiSortBy="title"><span jhiTranslate="talentactorApp.role.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="talentactorApp.role.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <!--<th jhiSortBy="profileId"><span jhiTranslate="talentactorApp.role.profile">Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of roles ;trackBy: trackId">
                <!--<td><a [routerLink]="['/role', role.id, 'view' ]">{{role.id}}</a></td>-->
                <td>{{role.title}}</td>
                <td>{{role.description}}</td>
                <!--<td>
                    <div *ngIf="role.profileId">
                        <a [routerLink]="['../profile', role.profileId , 'view' ]" >{{role.profileId}}</a>
                    </div>
                </td>-->
                <td>
                    <div *ngIf="role.projectId">
                        <a [routerLink]="['../../../project', role.projectId , 'view' ]" ><span jhiTranslate="talentactorApp.role.goproject">Project</span></a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/role', role.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/role', role.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'role/'+ role.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<div *ngIf="roles && roles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>-->
</div>
