<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="television">
            <!--<h2><span jhiTranslate="talentactorApp.television.detail.title">Television</span> {{television.id}}</h2>-->
            <!--<hr>-->
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="talentactorApp.television.title">Title</span></dt>
                <dd>
                    <span>{{television.title}}</span>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.television.image">Image</span></dt>-->
                <dd>
                    <div *ngIf="television.image">
                        <a (click)="openFile(television.imageContentType, television.image)">
                            <img [src]="'data:' + television.imageContentType + ';base64,' + television.image" style="max-width: 30%;" alt="television image"/>
                        </a>
                        <!--{{television.imageContentType}}, {{byteSize(television.image)}}-->
                    </div>
                </dd>
                <dt><span jhiTranslate="talentactorApp.television.director">Director</span></dt>
                <dd>
                    <span>{{television.director}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.television.cameraman">Cameraman</span></dt>
                <dd>
                    <span>{{television.cameraman}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.television.link">Link</span></dt>
                <dd>
                    <span><a href="{{television.link}}" target="_blank">Go to website</a></span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.television.video">Video</span></dt>
                <dd>
                    <div *ngIf="television.video">
                        <!--<a (click)="openFile(television.videoContentType, television.video)" jhiTranslate="entity.action.open">open</a>
                        {{television.videoContentType}}, {{byteSize(television.video)}}-->
                        <div *ngIf="television.video">
                            <video style="max-width: 50%;" alt="User video" controls>
                                <source type="video/mp4" [src]="'data:video/mp4;base64,' + television.video">
                            </video>
                        </div>
                    </div>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.television.imagepath">Imagepath</span></dt>
                <dd>
                    <span>{{television.imagepath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.television.videopath">Videopath</span></dt>
                <dd>
                    <span>{{television.videopath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.television.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="television.profileId">
                        <a [routerLink]="['/profile', television.profileId, 'view']">{{television.profileId}}</a>
                    </div>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/television', television.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
