<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <!--<h2><span jhiTranslate="talentactorApp.project.detail.title">Project</span> {{project.id}}</h2>-->
            <h2>{{project.title}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <!--<dt><span jhiTranslate="talentactorApp.project.id">Id</span></dt>-->
                <dd>
                    <b><span jhiTranslate="talentactorApp.project.id">Id</span></b>
                    <span>{{project.id}}</span>
                </dd>
                <!--
                <dt><span jhiTranslate="talentactorApp.project.date">Date</span></dt>
                <dd>
                    <span>{{project.date}}</span>
                </dd>-->
                <!--<dt><span jhiTranslate="talentactorApp.project.image">Image</span></dt>-->
                <dd>
                    <table>
                        <tr>
                            <td width="30%">
                                <div *ngIf="project.image">
                                    <a (click)="openFile(project.imageContentType, project.image)">
                                        <img [src]="'data:' + project.imageContentType + ';base64,' + project.image" style="max-width: 100%;" alt="project image"/>
                                    </a>
                                    <!--{{project.imageContentType}}, {{byteSize(project.image)}}-->
                                </div>
                            </td>
                            <td width="70%">
                                <div *ngIf="project.video">
                                    <!--<a (click)="openFile(project.videoContentType, project.video)" jhiTranslate="entity.action.open">open</a>-->
                                    <!--{{project.videoContentType}}, {{byteSize(project.video)}}-->
                                    <video style="max-width: 100%;" alt="User video" controls>
                                        <source type="video/mp4" [src]="'data:video/mp4;base64,' + project.video">
                                    </video>
                                    <!--<a (click)="openFile(project.videoContentType, userExtra.video)" jhiTranslate="entity.action.open">open</a>
                                    {{userExtra.videoContentType}}, {{byteSize(userExtra.video)}}-->
                                </div>
                            </td>
                        </tr>
                    </table>

                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.project.video">Video</span></dt>
                <dd>
                    <div *ngIf="project.video">
                        &lt;!&ndash;<a (click)="openFile(project.videoContentType, project.video)" jhiTranslate="entity.action.open">open</a>&ndash;&gt;
                        &lt;!&ndash;{{project.videoContentType}}, {{byteSize(project.video)}}&ndash;&gt;
                            <video style="max-width: 100%;" alt="User video" controls>
                                <source type="video/mp4" [src]="'data:video/mp4;base64,' + project.video">
                            </video>
                            &lt;!&ndash;<a (click)="openFile(project.videoContentType, userExtra.video)" jhiTranslate="entity.action.open">open</a>
                            {{userExtra.videoContentType}}, {{byteSize(userExtra.video)}}&ndash;&gt;
                    </div>
                </dd>-->
                <dt><span jhiTranslate="talentactorApp.project.code">Code</span></dt>
                <dd>
                    <span>{{project.code}}</span>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.project.imagepath">Imagepath</span></dt>
                <dd>
                    <span>{{project.imagepath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.project.videopath">Videopath</span></dt>
                <dd>
                    <span>{{project.videopath}}</span>
                </dd>-->
                <!--Film list-Begin-->
                <dt><span jhiTranslate="talentactorApp.project.role">Role</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="roles">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span jhiTranslate="talentactorApp.role.title">Title</span></th>
                                <th><span jhiTranslate="talentactorApp.role.description">Director</span></th>
                                <th><span jhiTranslate="talentactorApp.role.actor">Actor</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                                <!--<th><span jhiTranslate="talentactorApp.film.image">Image</span></th>-->
                                <!--<th><span jhiTranslate="talentactorApp.film.video">Video</span></th>-->
                                <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let role of roles ;">
                                <td>{{role.title}}</td>
                                <td>{{role.description}}</td>
                                <td>
                                    <div *ngIf="role.profileId">
                                        <a [routerLink]="['../../../profile', role.profileId , 'view' ]" jhiTranslate="talentactorApp.role.goActor">Go to actor</a>
                                    </div>
                                </td>
                                <!--<td>{{film.link}}</td>-->
                                <!--<td>
                                    <a *ngIf="film.image" (click)="openFile(film.imageContentType, film.image)">
                                        <img [src]="'data:' + film.imageContentType + ';base64,' + film.image" style="max-height: 30px;" alt="film image"/>
                                    </a>
                                    &lt;!&ndash;<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>&ndash;&gt;
                                </td>-->
                                <!--<td>
                                    <a *ngIf="film.video" (click)="openFile(film.videoContentType, film.video)" jhiTranslate="entity.action.open">open</a>
                                    <span *ngIf="film.video">{{film.videoContentType}}, {{byteSize(film.video)}}</span>
                                </td>-->
                                <!--<td>{{film.imagepath}}</td>
                                <td>{{film.videopath}}</td>
                                <td>
                                    <div *ngIf="film.profileId">
                                        <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                    </div>
                                </td>-->
                                <td class="text-right">
                                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/role', role.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/role', role.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'role/'+ role.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <!--Film list-End-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
