<div>
    <h2 id="page-heading">
        <span jhiTranslate="talentactorApp.project.home.title">Projects</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="talentactorApp.project.home.createLabel">
            Create new Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="title"><span jhiTranslate="talentactorApp.project.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span jhiTranslate="talentactorApp.project.image">Image</span></th>
            <th><span jhiTranslate="talentactorApp.project.code">Code</span></th>
            <!--<th jhiSortBy="date"><span jhiTranslate="talentactorApp.project.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="video"><span jhiTranslate="talentactorApp.project.video">Video</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.project.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.project.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <!--<td><a [routerLink]="['/project', project.id, 'view' ]">{{project.id}}</a></td>-->
                <td width="20%"><a [routerLink]="['/project', project.id, 'view' ]">{{project.title}}</a></td>
                <!--<td>{{project.title}}</td>-->
                <td>
                    <a *ngIf="project.imagepath" class="example-image-link" data-lightbox="example-set" [href]="fileManagementService.getCloud() + project.imagepath">
                        <!--<img [src]="'data:' + project.imageContentType + ';base64,' + project.image" style="max-height: 100px;" alt="project image"/>-->
                        <img [hidden]="!project.imagepath" [src]="fileManagementService.getCloud() + project.imagepath" style="max-height: 100px;" alt="project image"/>
                    </a>
                    <!--<span *ngIf="project.image">{{project.imageContentType}}, {{byteSize(project.image)}}</span>-->
                </td>
                <td>{{project.code}}</td>
                <!--<td>{{project.date | date:'mediumDate'}}</td>-->
                <!--<td>
                    <a *ngIf="project.video" (click)="openFile(project.videoContentType, project.video)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="project.video">{{project.videoContentType}}, {{byteSize(project.video)}}</span>
                </td>
                <td>{{project.imagepath}}</td>
                <td>{{project.videopath}}</td>-->
                <td class="text-right">
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/project', project.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projects && projects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
