<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <h2><span jhiTranslate="talentactorApp.project.detail.title">Project</span> {{project.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="talentactorApp.project.title">Title</span></dt>
                <dd>
                    <span>{{project.title}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.project.code">Code</span></dt>
                <dd>
                    <span>{{project.code}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.project.date">Date</span></dt>
                <dd>
                    <span>{{project.date}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.project.image">Image</span></dt>
                <dd>
                    <div *ngIf="project.image">
                        <a (click)="openFile(project.imageContentType, project.image)">
                            <img [src]="'data:' + project.imageContentType + ';base64,' + project.image" style="max-width: 100%;" alt="project image"/>
                        </a>
                        {{project.imageContentType}}, {{byteSize(project.image)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="talentactorApp.project.video">Video</span></dt>
                <dd>
                    <div *ngIf="project.video">
                        <a (click)="openFile(project.videoContentType, project.video)" jhiTranslate="entity.action.open">open</a>
                        {{project.videoContentType}}, {{byteSize(project.video)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="talentactorApp.project.imagepath">Imagepath</span></dt>
                <dd>
                    <span>{{project.imagepath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.project.videopath">Videopath</span></dt>
                <dd>
                    <span>{{project.videopath}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
