<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-theater-heading" jhiTranslate="talentactorApp.theater.home.createOrEditLabel">Create or edit a Theater</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--<div class="form-group" [hidden]="!theater.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="theater.id" readonly />
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="theater.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.director" for="field_director">Director</label>
                    <input type="text" class="form-control" name="director" id="field_director"
                        [(ngModel)]="theater.director" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.link" for="field_link">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                        [(ngModel)]="theater.link" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + theater.imageContentType + ';base64,' + theater.image" style="max-height: 100px;" *ngIf="theater.image" alt="theater image"/>
                        <div *ngIf="theater.image" class="form-text text-danger clearfix">
                            <!--<span class="pull-left">{{theater.imageContentType}}, {{byteSize(theater.image)}}</span>-->
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, theater, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="theater.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="theater.imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.video" for="field_video">Video</label>
                    <div>
                        <div *ngIf="theater.video" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(theater.videoContentType, theater.video)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{theater.videoContentType}}, {{byteSize(theater.video)}}</span>
                            <button type="button" (click)="theater.video=null;theater.videoContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_video" (change)="setFileData($event, theater, 'video', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="video" id="field_video"
                        [(ngModel)]="theater.video" />
                    <input type="hidden" class="form-control" name="videoContentType" id="field_videoContentType"
                        [(ngModel)]="theater.videoContentType" />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.imagepath" for="field_imagepath">Imagepath</label>
                    <input type="text" class="form-control" name="imagepath" id="field_imagepath"
                        [(ngModel)]="theater.imagepath" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.videopath" for="field_videopath">Videopath</label>
                    <input type="text" class="form-control" name="videopath" id="field_videopath"
                        [(ngModel)]="theater.videopath" />
                </div>-->

                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="talentactorApp.theater.profile" for="field_profile">Profile</label>
                    <select class="form-control" id="field_profile" name="profile" [(ngModel)]="theater.profileId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
