<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="internet">
            <!--<h2><span jhiTranslate="talentactorApp.internet.detail.title">Internet</span> {{internet.id}}</h2>-->
            <!--<hr>-->
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="talentactorApp.internet.title">Title</span></dt>
                <dd>
                    <span>{{internet.title}}</span>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.internet.image">Image</span></dt>-->
                <dd>
                    <div *ngIf="internet.image">
                        <a (click)="openFile(internet.imageContentType, internet.image)">
                            <img [src]="'data:' + internet.imageContentType + ';base64,' + internet.image" style="max-width: 30%;" alt="internet image"/>
                        </a>
                        <!--{{internet.imageContentType}}, {{byteSize(internet.image)}}-->
                    </div>
                </dd>
                <dt><span jhiTranslate="talentactorApp.internet.director">Director</span></dt>
                <dd>
                    <span>{{internet.director}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.internet.cameraman">Cameraman</span></dt>
                <dd>
                    <span>{{internet.cameraman}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.internet.link">Link</span></dt>
                <dd>
                    <span><a href="{{internet.link}}" target="_blank">Go to website</a></span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.internet.video">Video</span></dt>
                <dd>
                    <div *ngIf="internet.video">
                        <!--<a (click)="openFile(internet.videoContentType, internet.video)" jhiTranslate="entity.action.open">open</a>
                        {{internet.videoContentType}}, {{byteSize(internet.video)}}-->
                        <div *ngIf="internet.video">
                            <video style="max-width: 50%;" alt="User video" controls>
                                <source type="video/mp4" [src]="'data:video/mp4;base64,' + internet.video">
                            </video>
                        </div>
                    </div>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.internet.imagepath">Imagepath</span></dt>
                <dd>
                    <span>{{internet.imagepath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.internet.videopath">Videopath</span></dt>
                <dd>
                    <span>{{internet.videopath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.internet.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="internet.profileId">
                        <a [routerLink]="['/profile', internet.profileId, 'view']">{{internet.profileId}}</a>
                    </div>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/internet', internet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
