<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercial">
            <!--<h2><span jhiTranslate="talentactorApp.commercial.detail.title">Commercial</span> {{commercial.id}}</h2>-->
            <!--<hr>-->
            <!--<jhi-alert-error></jhi-alert-error>-->
            <dl class="row-md jh-entity-details">
                <!--<dt><span jhiTranslate="talentactorApp.commercial.title">Title</span></dt>-->
                <dd>
                    <span>{{commercial.title}}</span>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.commercial.image">Image</span></dt>-->
                <dd>
                    <div *ngIf="commercial.imagepath">
                        <!--<a (click)="openFile(commercial.imageContentType, commercial.image)">-->
                        <a class="example-image-link" data-lightbox="example-set" [href]="fileManagementService.getCloud() + commercial.imagepath">
                            <!--<img [src]="'data:' + commercial.imageContentType + ';base64,' + commercial.image" style="max-width: 30%;" alt="commercial image"/>-->
                            <img [src]="fileManagementService.getCloud() + commercial.imagepath" style="max-width: 30%;" alt="commercial image"/>
                        </a>
                        <!--{{commercial.imageContentType}}, {{byteSize(commercial.image)}}-->
                    </div>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.commercial.video">Video</span></dt>-->
                <dd>
                        <!--<a (click)="openFile(commercial.videoContentType, commercial.video)" jhiTranslate="entity.action.open">open</a>-->
                        <!--{{commercial.videoContentType}}, {{byteSize(commercial.video)}}-->
                        <div *ngIf="commercial.videopath">
                            <video style="max-width: 50%;" alt="User video" controls>
                                <!--<source type="video/mp4" [src]="'data:video/mp4;base64,' + commercial.video">-->
                                <source src="{{fileManagementService.getCloud()}}{{commercial.videopath}}">
                            </video>
                        </div>
                </dd>
                <dt><span jhiTranslate="talentactorApp.commercial.director">Director</span></dt>
                <dd>
                    <span>{{commercial.director}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.commercial.cameraman">Cameraman</span></dt>
                <dd>
                    <span>{{commercial.cameraman}}</span>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.commercial.link">Link</span></dt>-->
                <dd *ngIf="commercial.link">
                    <span><a href="{{commercial.link}}" target="_blank">Go to website</a></span>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.commercial.imagepath">Imagepath</span></dt>
                <dd>
                    <span>{{commercial.imagepath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.commercial.videopath">Videopath</span></dt>
                <dd>
                    <span>{{commercial.videopath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.commercial.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="commercial.profileId">
                        <a [routerLink]="['/profile', commercial.profileId, 'view']">{{commercial.profileId}}</a>
                    </div>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commercial', commercial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
