<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="combat">
            <h2><span jhiTranslate="talentactorApp.combat.detail.title">Combat</span> {{combat.id}}</h2>
            <hr>
            <!--<jhi-alert-error></jhi-alert-error>-->
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="talentactorApp.combat.title">Title</span></dt>
                <dd>
                    <span>{{combat.title}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/combat', combat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
