<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2>{{firstName}}&nbsp;{{lastName}}</h2>
            <h4><span jhiTranslate="talentactorApp.profile.detail.login">Profile</span> {{login}}</h4>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <!--<dt><span jhiTranslate="talentactorApp.profile.video">Video</span></dt>-->
                <dd>
                    <table>
                        <tr>
                            <td width="45%">
                                <div *ngIf="profile.image">
                                    <a (click)="openFile(profile.imageContentType, profile.image)">
                                        <img [src]="'data:' + profile.imageContentType + ';base64,' + profile.image" style="max-width: 100%;" alt="profile image"/>
                                    </a>
                                    <!--{{profile.imageContentType}}, {{byteSize(profile.image)}}-->
                                </div>
                            </td>
                            <td width="5%"></td>
                            <td width="45%">
                                <div *ngIf="profile.video">
                                    <!--<a (click)="openFile(profile.videoContentType, profile.video)" jhiTranslate="entity.action.open">open</a>-->
                                    <!--{{profile.videoContentType}}, {{byteSize(profile.video)}}-->
                                    <video style="max-width: 100%;" alt="User video" controls>
                                        <source type="video/mp4" [src]="'data:video/mp4;base64,' + profile.video">
                                    </video>
                                    <br>
                                    <br>
                                    <audio style="max-width: 100%;" alt="User Audio" controls>
                                        <source type="audio/mp3" [src]="'data:audio/mp3;base64,' + profile.audio">
                                    </audio>
                                    <br>
                                    <br>
                                    {{profile.address}} {{profile.city}}, {{profile.state}} |
                                    <label jhiTranslate="talentactorApp.profile.phone">Phone</label>
                                    {{profile.phone}}
                                    <!--<a (click)="openFile(profile.videoContentType, profile.video)" jhiTranslate="entity.action.open">open</a>-->
                                    <!--{{profile.videoContentType}}, {{byteSize(profile.video)}}-->
                                </div>
                            </td>
                            <!--<td>
                                <div *ngIf="profile.audio">
                                    <audio style="max-width: 100%;" alt="User Audio" controls>
                                        <source type="audio/mp3" [src]="'data:audio/mp3;base64,' + profile.audio">
                                    </audio>
                                    &lt;!&ndash;<a (click)="openFile(profile.audioContentType, profile.audio)" jhiTranslate="entity.action.open">open</a>&ndash;&gt;
                                    &lt;!&ndash;{{profile.audioContentType}}, {{byteSize(profile.audio)}}&ndash;&gt;
                                </div>
                            </td>-->
                        </tr>
                    </table>
                </dd>
                <!--<dt><span jhiTranslate="talentactorApp.profile.city">City</span></dt>-->
                <!--<dd>
                    <span>{{profile.city}}</span>
                </dd>-->
                <!--<dt><span jhiTranslate="talentactorApp.profile.address">Address</span></dt>-->
                <!--<dd>
                    <span>{{profile.address}}</span>
                </dd>-->
                <!--<dt><span jhiTranslate="talentactorApp.profile.phone">Phone</span></dt>
                <dd>
                    <span>{{profile.phone}}</span>
                </dd>-->
                <!--Film list-Begin-->
                <dt><span jhiTranslate="talentactorApp.profile.film">Film</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="films">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate">
                            <th><span jhiTranslate="talentactorApp.film.title">Title</span></th>
                            <th><span jhiTranslate="talentactorApp.film.director">Director</span></th>
                            <th><span jhiTranslate="talentactorApp.film.cameraman">Cameraman</span></th>
                            <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                            <th><span jhiTranslate="talentactorApp.film.image">Image</span></th>
                            <!--<th><span jhiTranslate="talentactorApp.film.video">Video</span></th>-->
                            <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let film of films ;trackBy: trackId">
                            <td><a href="{{film.link}}" target="_blank">{{film.title}}</a></td>
                            <td>{{film.director}}</td>
                            <td>{{film.cameraman}}</td>
                            <!--<td>{{film.link}}</td>-->
                            <td>
                                <a *ngIf="film.image" (click)="openFile(film.imageContentType, film.image)">
                                    <img [src]="'data:' + film.imageContentType + ';base64,' + film.image" style="max-height: 30px;" alt="film image"/>
                                </a>
                                <!--<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>-->
                            </td>
                            <!--<td>
                                <a *ngIf="film.video" (click)="openFile(film.videoContentType, film.video)" jhiTranslate="entity.action.open">open</a>
                                <span *ngIf="film.video">{{film.videoContentType}}, {{byteSize(film.video)}}</span>
                            </td>-->
                            <!--<td>{{film.imagepath}}</td>
                            <td>{{film.videopath}}</td>
                            <td>
                                <div *ngIf="film.profileId">
                                    <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                </div>
                            </td>-->
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/film', film.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/film', film.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'film/'+ film.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </dd>
                <!--Film list-End-->
                <!--Television list-Begin-->
                <dt><span jhiTranslate="talentactorApp.profile.television">Television</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="televisions">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate">
                                <th><span jhiTranslate="talentactorApp.television.title">Title</span></th>
                                <th><span jhiTranslate="talentactorApp.television.director">Director</span></th>
                                <th><span jhiTranslate="talentactorApp.television.cameraman">Cameraman</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                                <th><span jhiTranslate="talentactorApp.television.image">Image</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.television.video">Video</span></th>-->
                                <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let television of televisions ;trackBy: trackId">
                                <td><a href="{{television.link}}" target="_blank">{{television.title}}</a></td>
                                <td>{{television.director}}</td>
                                <td>{{television.cameraman}}</td>
                                <!--<td>{{film.link}}</td>-->
                                <td>
                                    <a *ngIf="television.image" (click)="openFile(film.imageContentType, television.image)">
                                        <img [src]="'data:' + television.imageContentType + ';base64,' + television.image" style="max-height: 30px;" alt="television image"/>
                                    </a>
                                    <!--<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>-->
                                </td>
                                <!--<td>
                                    <a *ngIf="television.video" (click)="openFile(television.videoContentType, film.video)" jhiTranslate="entity.action.open">open</a>
                                    <span *ngIf="television.video">{{television.videoContentType}}, {{byteSize(television.video)}}</span>
                                </td>-->
                                <!--<td>{{film.imagepath}}</td>
                                <td>{{film.videopath}}</td>
                                <td>
                                    <div *ngIf="film.profileId">
                                        <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                    </div>
                                </td>-->
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/television', television.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/television', television.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'television/'+ television.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <!--Television list-End-->
                <!--Internet list-Begin-->
                <dt><span jhiTranslate="talentactorApp.profile.internet">Internet</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="internets">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate">
                                <th><span jhiTranslate="talentactorApp.internet.title">Title</span></th>
                                <th><span jhiTranslate="talentactorApp.internet.director">Director</span></th>
                                <th><span jhiTranslate="talentactorApp.internet.cameraman">Cameraman</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                                <th><span jhiTranslate="talentactorApp.internet.image">Image</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.internet.video">Video</span></th>-->
                                <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let internet of internets ;trackBy: trackId">
                                <td><a href="{{internet.link}}" target="_blank">{{internet.title}}</a></td>
                                <td>{{internet.director}}</td>
                                <td>{{internet.cameraman}}</td>
                                <!--<td>{{film.link}}</td>-->
                                <td>
                                    <a *ngIf="internet.image" (click)="openFile(internet.imageContentType, internet.image)">
                                        <img [src]="'data:' + internet.imageContentType + ';base64,' + internet.image" style="max-height: 30px;" alt="internet image"/>
                                    </a>
                                    <!--<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>-->
                                </td>
                                <!--<td>
                                    <a *ngIf="internet.video" (click)="openFile(internet.videoContentType, internet.video)" jhiTranslate="entity.action.open">open</a>
                                    <span *ngIf="internet.video">{{internet.videoContentType}}, {{byteSize(internet.video)}}</span>
                                </td>-->
                                <!--<td>{{film.imagepath}}</td>
                                <td>{{film.videopath}}</td>
                                <td>
                                    <div *ngIf="film.profileId">
                                        <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                    </div>
                                </td>-->
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/internet', internet.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/internet', internet.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'internet/'+ internet.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <!--Internet list-End-->
                <!--Commercial list-Begin-->
                <dt><span jhiTranslate="talentactorApp.profile.commercial">Commercial</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="commercials">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate">
                                <th><span jhiTranslate="talentactorApp.commercial.title">Title</span></th>
                                <th><span jhiTranslate="talentactorApp.commercial.director">Director</span></th>
                                <th><span jhiTranslate="talentactorApp.commercial.cameraman">Cameraman</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                                <th><span jhiTranslate="talentactorApp.commercial.image">Image</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.commercial.video">Video</span></th>-->
                                <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let commercial of commercials ;trackBy: trackId">
                                <td><a href="{{commercial.link}}" target="_blank">{{commercial.title}}</a></td>
                                <td>{{commercial.director}}</td>
                                <td>{{commercial.cameraman}}</td>
                                <!--<td>{{film.link}}</td>-->
                                <td>
                                    <a *ngIf="commercial.image" (click)="openFile(commercial.imageContentType, commercial.image)">
                                        <img [src]="'data:' + commercial.imageContentType + ';base64,' + commercial.image" style="max-height: 30px;" alt="commercial image"/>
                                    </a>
                                    <!--<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>-->
                                </td>
                                <!--<td>
                                    <a *ngIf="commercial.video" (click)="openFile(commercial.videoContentType, commercial.video)" jhiTranslate="entity.action.open">open</a>
                                    <span *ngIf="commercial.video">{{commercial.videoContentType}}, {{byteSize(commercial.video)}}</span>
                                </td>-->
                                <!--<td>{{film.imagepath}}</td>
                                <td>{{film.videopath}}</td>
                                <td>
                                    <div *ngIf="film.profileId">
                                        <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                    </div>
                                </td>-->
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/commercial', commercial.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/commercial', commercial.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'commercial/'+ commercial.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <!--Commercial list-End-->
                <!--Print list-Begin-->
                <dt><span jhiTranslate="talentactorApp.profile.print">Print</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="prints">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate">
                                <th><span jhiTranslate="talentactorApp.print.title">Title</span></th>
                                <th><span jhiTranslate="talentactorApp.print.photographer">photographer</span></th>
                                <th><span jhiTranslate="talentactorApp.print.hair">hair</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                                <th><span jhiTranslate="talentactorApp.print.image">Image</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.commercial.video">Video</span></th>-->
                                <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let print of prints ;trackBy: trackId">
                                <td><a href="{{print.link}}" target="_blank">{{print.title}}</a></td>
                                <td>{{print.photographer}}</td>
                                <td>{{print.hair}}</td>
                                <!--<td>{{film.link}}</td>-->
                                <td>
                                    <a *ngIf="print.image" (click)="openFile(print.imageContentType, print.image)">
                                        <img [src]="'data:' + print.imageContentType + ';base64,' + print.image" style="max-height: 30px;" alt="print image"/>
                                    </a>
                                    <!--<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>-->
                                </td>
                                <!--<td>
                                    <a *ngIf="commercial.video" (click)="openFile(commercial.videoContentType, commercial.video)" jhiTranslate="entity.action.open">open</a>
                                    <span *ngIf="commercial.video">{{commercial.videoContentType}}, {{byteSize(commercial.video)}}</span>
                                </td>-->
                                <!--<td>{{film.imagepath}}</td>
                                <td>{{film.videopath}}</td>
                                <td>
                                    <div *ngIf="film.profileId">
                                        <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                    </div>
                                </td>-->
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/print', print.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/print', print.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'print/'+ print.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <!--print list-End-->
                <!--Voice list-Begin-->
                <dt><span jhiTranslate="talentactorApp.profile.voice">Voice</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="voices">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate">
                                <th><span jhiTranslate="talentactorApp.voice.title">Title</span></th>
                                <th><span jhiTranslate="talentactorApp.voice.director">director</span></th>
                                <th><span jhiTranslate="talentactorApp.voice.audio">audio</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.print.audio">audio</span></th>-->
                                <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                                <!--<th><span jhiTranslate="talentactorApp.print.image">Image</span></th>-->
                                <!--<th><span jhiTranslate="talentactorApp.commercial.video">Video</span></th>-->
                                <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let voice of voices ;trackBy: trackId">
                                <td><a href="{{voice.link}}" target="_blank">{{voice.title}}</a></td>
                                <td>{{voice.director}}</td>
                                <!--<td>{{print.photographer}}</td>
                                <td>{{print.hair}}</td>-->
                                <!--<td>{{film.link}}</td>-->
                                <!--<td>
                                    <a *ngIf="print.image" (click)="openFile(print.imageContentType, print.image)">
                                        <img [src]="'data:' + print.imageContentType + ';base64,' + print.image" style="max-height: 30px;" alt="print image"/>
                                    </a>
                                    &lt;!&ndash;<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>&ndash;&gt;
                                </td>-->
                                <td>
                                    <!--<a *ngIf="voice.video" (click)="openFile(voice.videoContentType, voice.video)" jhiTranslate="entity.action.open">open</a>-->
                                    <!--<span *ngIf="voice.video">{{voice.videoContentType}}, {{byteSize(voice.video)}}</span>-->
                                    <!--<div *ngIf="voice.video">
                                        <video style="max-width: 100%;" alt="User video" controls>
                                            <source type="video/mp4" [src]="'data:video/mp4;base64,' + voice.video">
                                        </video>
                                        <a (click)="openFile(voice.videoContentType, voice.video)" jhiTranslate="entity.action.open">open</a>
                                        {{voice.videoContentType}}, {{byteSize(voice.video)}}
                                    </div>-->
                                    <div *ngIf="voice.audio">
                                        <audio style="max-width: 100%;" alt="User Audio" controls>
                                            <source type="audio/mp3" [src]="'data:audio/mp3;base64,' + voice.audio">
                                        </audio>
                                        <!--<a (click)="openFile(voice.audioContentType, voice.audio)" jhiTranslate="entity.action.open">open</a>
                                        {{voice.audioContentType}}, {{byteSize(voice.audio)}}-->
                                    </div>

                                </td>
                                <!--<td>{{film.imagepath}}</td>
                                <td>{{film.videopath}}</td>
                                <td>
                                    <div *ngIf="film.profileId">
                                        <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                    </div>
                                </td>-->
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/voice', voice.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/voice', voice.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'voice/'+ voice.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <!--Voice list-End-->
                <!--Theater list-Begin-->
                <dt><span jhiTranslate="talentactorApp.profile.theater">Theater</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="theaters">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate">
                                <th><span jhiTranslate="talentactorApp.theater.title">Title</span></th>
                                <th><span jhiTranslate="talentactorApp.theater.director">director</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.print.hair">hair</span></th>-->
                                <!--<th><span jhiTranslate="talentactorApp.film.link">Link</span></th>-->
                                <th><span jhiTranslate="talentactorApp.theater.image">Image</span></th>
                                <!--<th><span jhiTranslate="talentactorApp.theater.video">Video</span></th>-->
                                <!--<th jhiSortBy="imagepath"><span jhiTranslate="talentactorApp.film.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="videopath"><span jhiTranslate="talentactorApp.film.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let theater of theaters ;trackBy: trackId">
                                <td><a href="{{theater.link}}" target="_blank">{{theater.title}}</a></td>
                                <td>{{theater.director}}</td>
                                <!--<td>{{theater.hair}}</td>-->
                                <!--<td>{{film.link}}</td>-->
                                <td>
                                    <a *ngIf="theater.image" (click)="openFile(theater.imageContentType, theater.image)">
                                        <img [src]="'data:' + theater.imageContentType + ';base64,' + theater.image" style="max-height: 30px;" alt="print image"/>
                                    </a>
                                    <!--<span *ngIf="film.image">{{film.imageContentType}}, {{byteSize(film.image)}}</span>-->
                                </td>
                                <!--<td>
                                    <a *ngIf="commercial.video" (click)="openFile(commercial.videoContentType, commercial.video)" jhiTranslate="entity.action.open">open</a>
                                    <span *ngIf="commercial.video">{{commercial.videoContentType}}, {{byteSize(commercial.video)}}</span>
                                </td>-->
                                <!--<td>{{film.imagepath}}</td>
                                <td>{{film.videopath}}</td>
                                <td>
                                    <div *ngIf="film.profileId">
                                        <a [routerLink]="['../profile', film.profileId , 'view' ]" >{{film.profileId}}</a>
                                    </div>
                                </td>-->
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/theater', theater.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/theater', theater.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'theater/'+ theater.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <!--Theater list-End-->
                    <!--<dt><span jhiTranslate="talentactorApp.profile.since">Since</span></dt>
                    <dd>
                        <span>{{profile.since}}</span>
                    </dd>
                    <dt><span jhiTranslate="talentactorApp.profile.image">Image</span></dt>-->
                <!--<dt><span jhiTranslate="talentactorApp.profile.audio">Audio</span></dt>
                <dd>
                    &lt;!&ndash;<div *ngIf="profile.audio">
                        <a (click)="openFile(profile.audioContentType, profile.audio)" jhiTranslate="entity.action.open">open</a>
                        &lt;!&ndash;{{profile.audioContentType}}, {{byteSize(profile.audio)}}&ndash;&gt;
                    </div>&ndash;&gt;
                    <div *ngIf="profile.audio">
                        <audio style="max-width: 100%;" alt="User Audio" controls>
                            <source type="audio/mp3" [src]="'data:audio/mp3;base64,' + profile.audio">
                        </audio>
                        <a (click)="openFile(profile.audioContentType, profile.audio)" jhiTranslate="entity.action.open">open</a>
                        &lt;!&ndash;{{profile.audioContentType}}, {{byteSize(profile.audio)}}&ndash;&gt;
                    </div>
                </dd>-->
                <!--<dt><span jhiTranslate="talentactorApp.profile.imagepath">Imagepath</span></dt>
                <dd>
                    <span>{{profile.imagepath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.videopath">Videopath</span></dt>
                <dd>
                    <span>{{profile.videopath}}</span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.audiopath">Audiopath</span></dt>
                <dd>
                    <span>{{profile.audiopath}}</span>
                </dd>-->
                <!--<dt><span jhiTranslate="talentactorApp.profile.user">User</span></dt>
                <dd>
                    {{profile.userId}}
                </dd>-->
                <dt><span jhiTranslate="talentactorApp.profile.sport">Sport</span></dt>
                <dd>
                    <span *ngFor="let sport of profile.sports; let last = last">
                        <a [routerLink]="['/sport', sport?.id, 'view' ]">{{sport.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.swimming">Swimming</span></dt>
                <dd>
                    <span *ngFor="let swimming of profile.swimmings; let last = last">
                        <a [routerLink]="['/swimming', swimming?.id, 'view' ]">{{swimming.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.combat">Combat</span></dt>
                <dd>
                    <span *ngFor="let combat of profile.combats; let last = last">
                        <a [routerLink]="['/combat', combat?.id, 'view' ]">{{combat.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.language">Language</span></dt>
                <dd>
                    <span *ngFor="let language of profile.languages; let last = last">
                        <a [routerLink]="['/language', language?.id, 'view' ]">{{language.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.instrument">Instrument</span></dt>
                <dd>
                    <span *ngFor="let instrument of profile.instruments; let last = last">
                        <a [routerLink]="['/instrument', instrument?.id, 'view' ]">{{instrument.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.weapon">Weapon</span></dt>
                <dd>
                    <span *ngFor="let weapon of profile.weapons; let last = last">
                        <a [routerLink]="['/weapon', weapon?.id, 'view' ]">{{weapon.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.cycling">Cycling</span></dt>
                <dd>
                    <span *ngFor="let cycling of profile.cyclings; let last = last">
                        <a [routerLink]="['/cycling', cycling?.id, 'view' ]">{{cycling.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.circus">Circus</span></dt>
                <dd>
                    <span *ngFor="let circus of profile.circuses; let last = last">
                        <a [routerLink]="['/circus', circus?.id, 'view' ]">{{circus.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.horse">Horse</span></dt>
                <dd>
                    <span *ngFor="let horse of profile.horses; let last = last">
                        <a [routerLink]="['/horse', horse?.id, 'view' ]">{{horse.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.skill">Skill</span></dt>
                <dd>
                    <span *ngFor="let skill of profile.skills; let last = last">
                        <a [routerLink]="['/skill', skill?.id, 'view' ]">{{skill.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
