<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2>{{profile.firstname}}&nbsp;{{profile.lastname}}</h2>
            <h4><span jhiTranslate="talentactorApp.profile.detail.login">Profile</span> {{login}}</h4>
            <h5><span>{{email}}</span></h5>
            <hr>
            <!--<jhi-alert-error></jhi-alert-error>-->
            <dl class="row-md jh-entity-details">
                <dd>
                    <table>
                        <tr>
                            <td width="45%">
                                <div *ngIf="profile.imagepath">
                                    <img [src]="fileManagementService.getCloud() + profile.imagepath" style="max-width: 100%;" name="imageobj" id="imageobj" alt="صفحه را refresh کنید"/>
                                </div>
                            </td>
                            <td width="5%"></td>
                            <td width="45%">
                                <div>
                                    <video *ngIf="profile.videopath" style="max-width: 100%;" alt="User video" controls>
                                        <source src="{{fileManagementService.getCloud()}}{{profile.videopath}}">
                                        Your browser does not support the video tag.
                                    </video>
                                    <br>
                                    <br>
                                    <audio *ngIf="profile.audiopath" style="max-width: 100%;" alt="User Audio" controls>
                                        <source src="{{fileManagementService.getCloud()}}{{profile.audiopath}}">
                                        Your browser does not support the audio tag.
                                    </audio>
                                    <br>
                                    <br>
                                    {{profile.address}} {{profile.city}}, {{profile.state}} |
                                    <label jhiTranslate="talentactorApp.profile.phone">Phone</label>
                                    {{profile.phone}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </dd>
                <jhi-film></jhi-film>
                <jhi-television></jhi-television>
                <jhi-internet></jhi-internet>
                <jhi-commercial></jhi-commercial>
                <jhi-print></jhi-print>
                <jhi-voice></jhi-voice>
                <jhi-theater></jhi-theater>
                <jhi-role-my></jhi-role-my>
                <dt><span jhiTranslate="talentactorApp.profile.sport">Sport</span></dt>
                <dd>
                    <span *ngFor="let sport of profile.sports; let last = last">
                        {{sport.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.swimming">Swimming</span></dt>
                <dd>
                    <span *ngFor="let swimming of profile.swimmings; let last = last">
                        {{swimming.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.combat">Combat</span></dt>
                <dd>
                    <span *ngFor="let combat of profile.combats; let last = last">
                        {{combat.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.language">Language</span></dt>
                <dd>
                    <span *ngFor="let language of profile.languages; let last = last">
                        {{language.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.instrument">Instrument</span></dt>
                <dd>
                    <span *ngFor="let instrument of profile.instruments; let last = last">
                        {{instrument.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.weapon">Weapon</span></dt>
                <dd>
                    <span *ngFor="let weapon of profile.weapons; let last = last">
                        {{weapon.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.cycling">Cycling</span></dt>
                <dd>
                    <span *ngFor="let cycling of profile.cyclings; let last = last">
                        {{cycling.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.circus">Circus</span></dt>
                <dd>
                    <span *ngFor="let circus of profile.circuses; let last = last">
                        {{circus.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.horse">Horse</span></dt>
                <dd>
                    <span *ngFor="let horse of profile.horses; let last = last">
                        {{horse.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="talentactorApp.profile.skill">Skill</span></dt>
                <dd>
                    <span *ngFor="let skill of profile.skills; let last = last">
                        {{skill.title}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
